.bodyContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background: var(--background2);
}

.tableContainer{
    margin-top: 8vmax;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}
.tableContainer > table{
    border-collapse: collapse;
    border-spacing: none;
    margin-bottom: 1vmax;
}
th{
    padding: 0.5vmax 1.2vmax;
    color: white;
    font: 400 1.3vmax var(--my-font);
}

td{
    color: white;
    text-align: center;
    font: 300 0.9vmax var(--my-font);
    padding: 0.3vmax 0;
}

thead .checkBoxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(1vmax);
}

tbody .checkBoxContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.checkBoxContainer > input{
    height: 1vmax;
}

.paginationContainer{
    display: flex;
    margin: 2.5vmax;
    color: white;
    font: 400 1vmax var(--my-font);
    width: 95vw;
    justify-content: flex-end;
}
.paginationContainer > .resPerPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vmax;
}
.paginationContainer > .resPerPage > select{
    height: 1.5vmax;
    font: 300 1vmax var(--my-font);
    margin-left: 0.5vmax;
    outline: none;
}
.paginationContainer > .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5vmax;
}
.paginationContainer > .buttonContainer > button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vmax;
    width: 2vmax;
    color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: none;
    background: transparent;
    cursor: pointer;
    margin: 0.5vmax;
    transition: all 0.5s;
}

.paginationContainer > .buttonContainer > button:hover{
    border: 1px solid white;
}