.headerContainer{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--background1);
    width: 100vw;
    z-index: 10;
}
.headerContainer > #first{
    height: 3vmax;
    width: 15vmax;
}
.headerContainer > #second{
    height: 3vmax;
}

.buttonsContainer{
    display: flex;
    position: fixed;
    width: 100vw;
    top: 3vmax;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background1);
    z-index: 10;
    padding-bottom: 1vmax;
}
.firstThreeButtonsContainer,
.lastThreeButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmax 0;
}
.firstThreeButtonsContainer > .btn:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.firstThreeButtonsContainer > .btn:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn{
    color: white;
    padding: 0.5vmax 2vmax;
    border: 1px solid var(--light-blue);
    background: transparent;
    transition: all 0.5s;
}
.btn:hover{
    background-color: var(--light-blue);
    border-color: white;
}
#customerId{
    padding: 1vmax;
    border-radius: 10px;
    border: none;
    outline: none;
}
.lastThreeButtonsContainer > .btn{
    padding: 0.5vmax 4vmax;
}

.Popup{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.Popup > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background1);
    border-radius: 5vmax;
    border: 2px solid white;
}
.Popup > div > h3{
    color: white;
    font: 400 3vmax var(--my-font);
    padding: 0 2vmax;
    border-bottom: 1px solid white;
}
.Popup > div > .popupInputContainer{
    display: grid;
    grid-gap: 2vmax;
}
.Popup > div > .popupInputContainer input{
    padding: 0.5vmax;
}
.Popup > div > .popupButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Popup > div > .popupButtonContainer > .popupBtn{
    width: 30%;
    margin: 0 2vmax;
    padding: 1vmax;
    color: white;
    font: 300 1.5vmax var(--my-font);
    border: 1px solid white;
    border-radius: 1vmax;
    background: transparent;
    cursor: pointer;
}
.Popup > div > .popupButtonContainer > .popupBtn:hover{
    background: var(--background2);
}

.advSearchPopup > div{
    height: 50vh;
    width: 40vw;
}
.advSearchPopup > div > .popupInputContainer{
    grid-template-columns: repeat(2, auto);
}

.addPopup > div{
    height: 85vh;
    width: 90vw;
}
.addPopup > div > .popupInputContainer{
    height: 40%;
    grid-template-columns: repeat(4, auto);
}

.editPopup > div{
    height: 40vh;
    width: 40vw;
}
.editPopup > div > .popupInputContainer{
    grid-template-columns: repeat(2, auto);
}

.deletePopup > div{
    height: 40vh;
    width: 40vw;
}
.deletePopup > div > h3{
    color: white;
    font: 400 2vmax var(--my-font);
}
.deletePopup > div > p{
    color: white;
    font: 400 1.5vmax var(--my-font);
}

/* Utilitu classes */
.openTab{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.1s;
}
.closeTab{
    display: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}
.inputPlaceholder{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-bottom: 2.5px solid transparent;
    transition: all 0.5s;
}
.inputPlaceholder > p{
    position: absolute;
    top: 2px;
    padding-left: 0.6vmax;
    font-size: 1vmax;
    font-family: sans-serif;
    color: rgb(117,117,117);
}
.inputPlaceholder > input{
    height: 100%;
    width: 90%;
}
/* .inputPlaceholder:{
    border-bottom: 2.5px solid var(--light-blue);
    color: var(--light-blue);
} */