.TableDataGridContainer{
    padding-top: 10vmax;
    min-height: 70vh;
    background: var(--background2) !important;
}
td, th{
    color: white !important;
}
td{
    height: 1vmax !important;
    padding: 0 !important;
}