.topHead{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    background-color: var(--background1);
    z-index: 10;
}

.headerContainer{
    display: flex;
    justify-content: center;
    position: relative;
    height: 12vh;
}
.headerContainer > #first{
    position: absolute;
    left: 2.5vmax;
    top: 0.5vmax;
    height: 3vmax;
}
.headerContainer > #second{
    height: 4vmax;
    top: 0.5vmax;
}

.buttonsContainer{
    display: flex;
    width: 100vw;
    height: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1vmax;
}
.firstThreeButtonsContainer,
.lastThreeButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmax 0;
    /* width: 40%; */
}
.firstThreeButtonsContainer > .btn:first-child{
    border-top-left-radius: 10vmax;
    border-bottom-left-radius: 10vmax;
}
.firstThreeButtonsContainer > .btn:last-child{
    border-top-right-radius: 10vmax;
    border-bottom-right-radius: 10vmax;
}
.btn{
    color: white;
    padding: 0.5vmax 2vmax;
    border: 0.1vmax solid var(--light-blue);
    background: transparent;
    font: 500 1.2vmax var(--my-font);
    transition: background-color 0.5s, border-color 0.5s;
}
.btn:hover{
    background-color: var(--light-blue);
    border-color: white;
}
#customerIdForm{
    position: relative;
    height: 3vmax;
    display: flex;
}
#customerIdForm > #customerId{
    padding: 1vmax;
    border-radius: 1.2vmax;
    border: none;
    outline: none;
    padding-right: 3vmax;
}
#customerIdForm > button{
    position: absolute;
    right: 0.8vmax;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    outline: none;
    border: none;
    height: 2vmax;
    width: 2vmax;
}

#customerIdForm > button > .searchIconSvg{
    position: absolute;
    right: 0;
    top: 0;
    height: 2vmax;
    width: 2vmax;
    color: var(--light-blue);
    cursor: pointer;
}
.lastThreeButtonsContainer > .btn{
    padding: 0.5vmax 4vmax;
}

.Popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}
.Popup > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background1);
    border-radius: 5vmax;
    border: 0.2vmax solid white;
}
.Popup > div > h3{
    color: white;
    font: 400 3vmax var(--my-font);
    padding: 0 2vmax;
    border-bottom: 0.1vmax solid white;
}
.Popup > div > .popupInputContainer{
    display: grid;
    grid-gap: 2vmax;
}
.Popup > div > .popupInputContainer input{
    padding: 0.5vmax;
    font-size: 1vmax;
    height: 6vh;
    width: 15vw;
}
.Popup > div > .popupInputContainer input[type="date"]{
    padding-bottom: 0;
}
.Popup > div > .popupInputContainer input::placeholder{
    font-size: 1vmax;
}
.Popup > div > .popupButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Popup > div > .popupButtonContainer > .popupBtn{
    width: 30%;
    margin: 0 2vmax;
    padding: 1vmax;
    color: white;
    font: 300 1.5vmax var(--my-font);
    border: 0.1vmax solid white;
    border-radius: 1vmax;
    background: transparent;
    cursor: pointer;
}
.Popup > div > .popupButtonContainer > .popupBtn:hover{
    background: var(--background2);
}

.advSearchPopup > div{
    height: 50vh;
    width: 40vw;
}
.advSearchPopup > div > .popupInputContainer{
    grid-template-columns: repeat(2, auto);
}

.addPopup > div{
    height: 85vh;
    width: 90vw;
}
.addPopup > div > .popupInputContainer{
    height: 40%;
    grid-template-columns: repeat(4, auto);
}

.editPopup > div{
    height: 40vh;
    width: 40vw;
}
.editPopup > div > .popupInputContainer{
    grid-template-columns: repeat(2, auto);
}

.deletePopup > div{
    height: 40vh;
    width: 40vw;
}
.deletePopup > div > h3{
    color: white;
    font: 400 2vmax var(--my-font);
}
.deletePopup > div > p{
    color: white;
    font: 400 1.5vmax var(--my-font);
}

.analyticsPopup > div{
    height: 80vh;
    width: 40vw;
    position: relative;
}

.analyticsPopup > div > .popupInputContainer{
    width: 70%;
    grid-gap: 0;
    grid-row-gap: 2vmax;
    grid-template-columns: 50% 50%;
}
.analyticsPopup > div > .popupInputContainer> .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font: 300 1.1vmax var(--my-font);
}
.analyticsPopup > div > .popupInputContainer> .inner > p{
    margin-bottom: 0.5vmax;
}
.analyticsPopup > div > .popupInputContainer> .inner > .contain{
    position: relative;
    height: 3vmax;
    margin-bottom: 1vmax;
}
.analyticsPopup > div > .popupInputContainer> .inner > .contain > p{
    color: black;
    top: 0;
    left: 0.5vmax;
    position: absolute;
}
.analyticsPopup > div > .popupInputContainer> .inner > .contain > input{
    height: 5vh;
    width: 10vw;
    padding-top: 1vmax;
    padding-bottom: 0.2vmax;
}
#invoice_input{
    width: 10vw;
}
#invoice_input::placeholder{
    font: 400 1vmax var(--my-font);
}


/* Utilitu classes */
.inputPlaceholder{
    position: relative;
    height: 6vh;
    width: 15vw;
    overflow: hidden;
    border-bottom: 0.25vmax solid transparent;
}
.inputPlaceholder > p{
    position: absolute;
    top: 0;
    padding-left: 0.6vmax;
    font-size: 1vmax;
    font-family: sans-serif;
    color: rgb(117,117,117);
}
.inputPlaceholder > input{
    height: 5vh;
    width: 15vw;
}
