.TableDataGridContainer{
    padding-top: 16vh;
    min-height: 70vh;
    background: var(--background2) !important;
}
td, th{
    color: white !important;
}
th{
    padding: 0.6vmax 1.4vmax !important;
}
td{
    height: 1vmax !important;
    padding: 0 !important;
}