@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root {
  --background1: #2D4351;
  --background2: #293C4A;
  --light-blue: #15AFF0;
  --my-font: 'Montserrat', sans-serif;
}