@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1vmax;
}

#root{
  min-height: 100vh;
  background: var(--background1);
}

:root {
  --background1: #2D4351;
  --background2: #293C4A;
  --background3: #22333f;
  --light-blue: #15AFF0;
  --my-font: 'Montserrat', sans-serif;
}

input{
  font: 400 1vmax var(--my-font);
  outline: none;
  border: none;
  padding-inline-start: 0;
  letter-spacing: 0 !important;
  word-spacing: 0 !important;
}
input::placeholder{
  font: 400 1.15vmax var(--my-font);
}
input:focus::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-blue);
  opacity: 1; /* Firefox */
}
input:focus:-ms-input-placeholder:focus { /* Internet Explorer 10-11 */
  color: var(--light-blue);
}
input:focus::-ms-input-placeholder:focus { /* Microsoft Edge */
  color: var(--light-blue);
}

input[type="checkbox"]{
  height: 1vmax !important;
  width: 1max !important;
}
